<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post new picture</title>
</head>
<body>
    <form action="/users/new_post" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Add new product to the store</legend>
            <input type="text" name="price" id="price" placeholder="Price of the product"> 
            <br>
            <input type="text" name="description" id="description" placeholder="Description of the product">
            <br>
            <label>Image of the product</label>
            <br>
            <input type="file" name="file_input" id="file_input" style="margin-left: 10px;">
            <br>
            <label for="file_input" class="button">Upload file...</label>
            <br>
            <input type="submit" class="button primary">

        </fieldset>

    </form>
    <a href="/users/">
        <button type="button">Return to the user profile</button>
    </a>
</body>
</html>