<!DOCTYPE HTML>

<html>
	<head>
		<title>Welcome to E-Comstagram! </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../public/assets/css/main.css" />
	</head>

	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="">Start today and grow your business</a>
					
					<a href="" class="logo">World`s number one e-commerce platform</a>
					<!--
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				-->
				</div>
			</header>

			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to E-Comstagram</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-shopping-cart"></span>
							<h3>Shop</h3>
							<p>Buy and sell easily</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Share</h3>
							<p>Promote your products</p>
						
						</div>

						<div>
							<span class="icon fa-users"></span>
							<h3>Communicate</h3>
							<p>Build a large community</p>
						</div>

					</div>

					<footer>
						<a href="#three" class="button">Join our platform</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="../public/images/pic01.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>Register</h3>
							</header>
							<p>Register to buy from the millions of vendors </p>
							<p>from all around the world and sell your products. </p><br>
							<footer>
								<a href="/registration" class="button">User account </a><br><br>
								<a href="/registration" class="button">Business account </a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="../public/images/pic02.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>Sign in </h3>
							</header>
							<p>Login to your account and start</p>
							<p>enjoying shopping and earning from your business. </p><br>
							<footer>
								<a href="/login" class="button">User account </a><br><br>
								<a href="/login" class="button">Business account </a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				
				<!-- <div class="inner"> -->
					
					<p>Baku, Azerbaijan</p>
					<p>Contact us:      <a href="mailto:ouremail@gmail.com" style="color: white;">ouremail@gmail.com</a></p>   <!-- href is used for links -->
					
					<p><a style="color: white;" href="http://twitter.com" aria-label="Twitter" style="font-size: 15px"><span class="icon fa-twitter"></span> Reach us on Twitter </i></a></p>
					<p><a style="color: white;" href="http://facebook.com" aria-label="Facebook" style="font-size: 15px"><span class="icon fa-facebook"></span> Reach us on Facebook </i></a></p>
					<address>
						Sabail district, Yeni Salyan way 3-rd km. "25"
					</address>

				<!-- </div> -->
			</footer>

		<!-- Scripts 
			<script src="../public/assets/js/jquery.min.js"></script>
			<script src="../public/assets/js/skel.min.js"></script>
			<script src="../public/assets/js/util.js"></script>
			<script src="../public/assets/js/main.js"></script>
		-->
	</body>
</html>